#story {
  width: 300px;
  height: 250px;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
  overflow: scroll;
  background-color: white;

  &::-webkit-scrollbar {
    display: none;
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .storyHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: white;

    div:nth-child(1) {
      color: rgb(219, 219, 219);
    }
  }

  .storyPeople {
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 10px;
    background-color: white;
  }
  .storyPeople li:nth-child(2) {
    color: rgb(219, 219, 219);
    font-size: 12px;
    font-weight: 900;
    text-align: left;
  }
}
