a {
  text-decoration: none;
  color: black;
}
.MainHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  width: 100vw;
  height: 80px;

  .leftHead {
    display: flex;
  }

  .leftHeadLogoImg {
    width: 30px;
    margin-right: 30px;
  }

  .leftHeadMarkImg {
    width: 100px;
  }
  #headSearch {
    .headSearchBar {
      position: relative;
      width: 400px;
      height: 40px;
      padding-left: 20px;
      border: 1px solid rgb(219, 219, 219);
      border-radius: 4px;
      display: flex;
      flex-direction: column;
    }
  }

  #rightHead {
    display: flex;

    img {
      width: 30px;
      margin-right: 20px;
    }
  }
}
